{% extends "base.html" %}
{% block title %}Manage appointment...{% endblock %}

{% block content %}
<form method="POST" action="/admin_appointment_manage">

    {% with message = get_flashed_messages() %}
    {% if message %}
    <p class="alert alert-warning" role="alert">
        {{ message }}
    </p>
    {% endif %}
    {% endwith %}
    <!---------------------------------------------------------------->
    <label {% if departmentHidden %}hidden{% endif %}>Select Department:</label>
    <select {% if departmentHidden %}hidden{% endif %} name="selectDepartment" class="form-select"
        aria-label="Multiple select example">
        {% for row in dataDepartment %}
        <option value="{{row[0]}}" {% if row[0]==selectedDepartment|int %}selected{% endif %}>
            {{row[1]}}
        </option>
        {% endfor %}
    </select>
    <button {% if departmentHidden %}hidden{% endif %} name="action" value="selectDepartment"
        type="submit">Select</button>
    <!---------------------------------------------------------------->
    <label {% if doctorHidden %}hidden{% endif %}>Select Doctor:</label>
    <select {% if doctorHidden %}hidden{% endif %} name="selectDoctor" class="form-select"
        aria-label="Multiple select example">
        {% for row in dataDoctor %}
        <option value="{{row[0]}}" {% if row[0]==selectedDoctor|int %}selected{% endif %}>
            {{row[1]}}|{{row[4]}}
        </option>
        {% endfor %}
    </select>
    <button {% if doctorHidden %}hidden{% endif %} name="action" value="selectDoctor" type="submit">Select</button>
    <button {% if doctorHidden %}hidden{% endif %} name="action" value="reset" type="submit">Reset</button>
    <!---------------------------------------------------------------->
    <label {% if appointmentHidden %}hidden{% endif %}>Select Appointment:</label>
    <select {% if appointmentHidden %}hidden{% endif %} name="selectAppointment" class="form-select"
        aria-label="Multiple select example">
        {% for row in dataAppointment %}
        <option value="{{row[0]}}">
            {{row[3]}}|{{row[4]}}
        </option>
        {% endfor %}
    </select>
    <button {% if appointmentHidden %}hidden{% endif %} name="action" value="removeAppointment" type="submit">UnBook
        Appointment</button>
    <button {% if appointmentHidden %}hidden{% endif %} name="action" value="cancelAppointment" type="submit">Cancel
        Appointment</button>
    <button {% if appointmentHidden %}hidden{% endif %} name="action" value="selectAppointment" type="submit">Select
        Appointment for Patient</button>
    <button {% if appointmentHidden %}hidden{% endif %} name="action" value="reset" type="submit">Reset</button>
    <!---------------------------------------------------------------->
    <label {% if patientHidden %}hidden{% endif %}>Select Patient:</label>
    <div hidden>
        <input type="text" id="appointment_id" name="appointment_id" value="{{appointment_id}}">
    </div>
    <select {% if patientHidden %}hidden{% endif %} name="selectPatient" class="form-select"
        aria-label="Multiple select example">
        {% for row in dataPatient %}
        <option value="{{row[0]}}">
            {{row[1]}}|{{row[5]}}
        </option>
        {% endfor %}
    </select>
    <button {% if patientHidden %}hidden{% endif %} name="action" value="bookAppointment" type="submit">Book
        Appointment</button>
    <button {% if patientHidden %}hidden{% endif %} name="action" value="reset" type="submit">Reset</button>
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for head in heading %}
                <th scope="col">{{ head }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in dataAppointment %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
</form>
{% endblock %}