{% extends "base.html" %}
{% block title %}Book an appointment...{% endblock %}

{% block content %}
<form method="POST" action="/doctor_appointment">

    {% with message = get_flashed_messages() %}
    {% if message %}
    <p class="alert alert-warning" role="alert">
        {{ message }}
    </p>
    {% endif %}
    {% endwith %}
    <!---------------------------------------------------------------->
    <!---------------------------------------------------------------->
    <label {% if appointmentHidden %}hidden{% endif %}>Select Appointment:</label>
    <select {% if appointmentHidden %}hidden{% endif %} name="selectAppointment" class="form-select"
        size="{{ dataAppointment|length if dataAppointment|length < 10 else 10 }}" aria-label="Multiple select example">
        {% for row in dataAppointment %}
        <option value="{{row[0]}}">
            {{row[3]}}|{{row[4]}}
        </option>
        {% endfor %}
    </select>
    <button {% if appointmentHidden %}hidden{% endif %} name="action" value="selectAppointment" type="submit">Select
        Appointment</button>
    <!-- <button {% if appointmentHidden %}hidden{% endif %} name="action" value="reset" type="submit">Reset</button> -->
    <!---------------------------------------------------------------->
    <hr>
    <!-- <table class="table table-striped">
        <thead>
            <tr>
                {% for head in heading %}
                <th scope="col">{{ head }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in dataAppointment %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <div hidden>
        <label>Appointment ID:</label>
        <input type="text" id="appointment_id" name="appointment_id" value="{{values.appointment_id}}">
    </div>
    <div {% if notesHidden %}hidden{% endif %}>
        <label>Diagnosis:</label>
        <input type="text" id="diagnosis" name="diagnosis" value="{{values.diagnosis}}">
    </div>
    <div {% if notesHidden %}hidden{% endif %}>
        <label>Prescription:</label>
        <input type=" text" id="prescription" name="prescription" value="{{values.prescription}}">
    </div>
    <div {% if notesHidden %}hidden{% endif %}>
        <label>Notes:</label>
        <input type=" text" id="notes" name="notes" value="{{values.notes}}">
    </div>
    <button {% if notesHidden %}hidden{% endif %} name="action" value="completeAppointment" type="submit">Complete
        Appointment</button>
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
</form>
{% endblock %}