{% extends "base.html" %}
{% block title %}Patient Manage Account...{% endblock %}




{% block content %}
<form method="POST" action="/patient_manage">

    {% with message = get_flashed_messages() %}
    {% if message %}
    <p class="alert alert-warning" role="alert">
        {{ message }}
    </p>
    {% endif %}
    {% endwith %}
    <div class="row">
        <div hidden>
            <label>Patient ID:</label>
            <input type="text" id="patient_id" name="patient_id" value="{{values.patient_id}}" required>
        </div>
        <div>
            <label class="column1">Name:</label>
            <input class="column2" type="text" id="name" name="name" value="{{values.name}}" required>
        </div>
        <div>
            <label class="column1">DOB:</label>
            <input class="column2" type="text" id="dob" name="dob" value="{{values.dob}}" required>
        </div>
        <div>
            <label class="column1">Gender:</label>
            <div class="column2">
                <input type="radio" id="male" name="gender" value="Male" {% if values.gender or values.gender=="Male"
                    %}checked{% endif %}>
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="Female" {% if values.gender=="Female" %}checked{%
                    endif %}>
                <label for="female">Female</label>
            </div>
        </div>
        <div>
            <label class="column1">Address:</label>
            <textarea class="column2" rows="3" id="address" name="address" required></textarea>
            <script>
                const textareaElement = document.getElementById('address');
                textareaElement.value = "{{values.address}}";
            </script>
        </div>
        <div>
            <label class="column1">Contact:</label>
            <input class="column2" type="text" id="contact" name="contact" value="{{values.contact}}" required>
        </div>
        <div>
            <label class="column1">Email:</label>
            <input class="column2" type="text" id="email" name="email" value="{{values.email}}" required>
        </div>
        <hr>
        <button name="action" value="save" type="submit">Save</button>
    </div>
</form>
{% endblock %}